@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* new */
html,
body {
  overflow-x: hidden;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #3498db;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

body.home {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(0, 120, 56, 1) 100%);
}

body.solution {
  background: #22333b;
  background-image: url("pics\\solution1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 210px;
}

body.survey {
  background: #7d7abc;
}

strong {
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 40px !important;
  }
  h1#title {
    margin-top: -20px !important;
    line-height: 1.1 !important;
  }
  #title_div_homepage {
    height: 280px !important;
  }
  .title_survey {
    padding-top: 50px !important;
  }
  textarea {
    width: 250px !important;
  }
  table {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  input[type="submit"] {
    margin-left: 70px !important;
  }
}

h1 {
  height: inherit;
  font-family: "Crimson Text", serif;
}

.title_div {
  height: 150px;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 65px;
  line-height: 150px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 0 0px 0;
  position: sticky;
  top: 0;
  transition: background-color 500ms linear;
}

#title_div_homepage {
  padding: 0px 0 0px 0;
  height: 270px;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
  font-weight: 100;
  text-align: center;
  font-size: 65px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
}

.title_homepage {
  font-size: 60px;
  text-shadow: 2px 2px 5px green;
  margin-top: 5px;
  line-height: 0.5;
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  width: 25%;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  margin: auto;
  position: relative;
  color: rgba(255, 255, 255, 0.3);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav a:hover,
nav a.active {
  color: #fff;
}

nav a:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -o-transition: -o-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
}

nav a.active:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

img {
  float: left;
  background: rgba(255, 255, 255, 0.2);
  height: 150px;
  width: 150px;
}
